.fancy_button {
  background-color: #747474;
  border: 2px solid #747474;
  border-radius: 25px;
  color: white;
  width: auto;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.fancy_button:hover {
  background-color: white;
  color: black;
}

.menu_button {
  padding: 8px 16px;
  font-size: 14px;
  margin: 4px 2px;
  position: absolute; 
  left: 15px; 
  top: 15px; 
  z-index:1;
}

.site_header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #004A6D; 
  padding-bottom: 5px; 
  padding-top: 5px; 
  color: white; 
  width: 100%;
}

.site_logo {
  display:block; 
  width:150px; 
  margin:auto;
}

.personInput {
  width: 100px;
  height: 25px;
}

